* {
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    width: 100vw;
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* 0.5/12 */
    padding: 4.16vw;
    /* 1/12 */
    gap: 8.333vw;
}

.block {
    /* 1/6 */
    width: 16.6vw;
    height: 16.6vw;
    border-radius: 20%;
    line-height: 16.6vw;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    column-span: 1;
    background-color: #06c755;
    color: white;
    transition: all 0.3s;
}

.not-radius {
    border-radius: 0;
    z-index: 1000;
}